body{
  font-family:cursive;
  
}


.App-header {
  background-color:wheat;
  min-height: 10vh;
  display: flex;
  flex-direction: inline;
  align-items: center;
  justify-content: right;
  font-size: calc(10px + 2vmin);
  }

.App-link {
  color: #230d7a;
  text-decoration: none;
  padding-left: 2em;
}
h1{
 font-family: cursive;
 color: #230d7a;
 text-align: center ;
}
.container{
  min-height: 37rem;
  text-align: center ;
}

.footer{
  background-color: wheat;
  min-height: 10vh;
  display: flex;
  flex-direction: inline;
  align-items: flex-end;
  justify-content: right;
  font-size: calc(10px + 2vmin);
  color: #230d7a;
  padding-left: 2em;
}